.Sidebar {
  padding: 12px;
  border-right: black 4px solid;
  background-color: lightsteelblue;
  grid-column: 1;
  height: 100vh;
}

.DropDownList {
  padding-left: 12px;
}

.ListItem {
  cursor: pointer;
  padding: 4px;
  margin-bottom: 12px;
  margin-right: 12px;
  border-radius: 4px;
}

.ListItem:hover {
  background-color: rebeccapurple;
  color: white;
}

.dropdown-toggle {
  width: 100%;
}
